<div class="authform">
  <h3>Editar Usuario</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label 'Nombre' %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'Correo' %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <div class="form-group">
        <%= f.label 'Clave Actual' %>
        <%= f.password_field :current_password, class: 'form-control' %>
        <p>Debe ingresar su clave actual para aplicar los cambios.</p>
      </div>
    </fieldset>
    <fieldset>
      <h3>Cambiar Clave</h3>
      <div class="form-group">
        <%= f.label 'Clave' %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label 'Confirmar Clave' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <p>Dejar estos campos en blanco si no desea cambiar su clave.</p>
    </fieldset>
    <%= f.submit 'Actualizar', :class => 'button right' %>
  <% end %>
</div>
<div class="authform">
   <fieldset>
      <h3>Dar de baja su Cuenta</h3>
      <p>Sólo si desea dar de baja su cuenta.</p>
      <%= button_to "Cerrar Cuenta", registration_path(resource_name), :data => { :confirm => "Está seguro que desea darse de Baja del sistema?" }, :method => :delete, :class => 'button right' %>
    </fieldset>
</div>
