<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3>Olvidó su Clave?</h3>
    <p>Se enviará a su correo las instrucciones de recuperación de clave.</p>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label 'Correo' %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
     <%= f.submit 'Recuperar Clave', :class => 'button right' %>
  <% end %>
</div>
